<app-header></app-header>

<div class="row">
    <div class="col-xl-2 col-12"></div>
    <div class="box col-xl-10 col-12">
        <div class="container">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->

            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">


                <!-- Content Row -->
                <div class="row mt-4">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-4 col-md-6 mb-4" *ngFor="let stock of homePageResponse.trendingStocks">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-4">
                                        <div class="row">
                                            <div class="col-12">
                                                <h5 class="card-title">{{stock.name}}</h5>
                                            </div>
                                            <div class="col-12">
                                                <h6>&#8377; {{stock.marketCap}}</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-5">
                                        <canvas baseChart [datasets]="stock.chart.lineChartData"
                                            [labels]="stock.chart.lineChartLabels"
                                            [options]="stock.chart.lineChartOptions"
                                            [colors]="stock.chart.lineChartColors"
                                            [legend]="stock.chart.lineChartLegend"
                                            [chartType]="stock.chart.lineChartType"
                                            [plugins]="stock.chart.lineChartPlugins">
                                        </canvas>


                                    </div>
                                    <div class="col-3">
                                        <div class="col-12">&#8377;{{stock.instPrice}}</div>
                                        <div class="col-12">{{stock.percChange}}%</div>
                                    </div>
                                    <!-- <div class="col mr-2">
                                                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                          {{stock.name}}</div>
                                                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{stock.instPrice}}</div>
                                                  </div> -->

                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->

                    <div class="row">

                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">SAC Trend</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-area">
                                        <div class="chart-wrapper">
                                            <canvas baseChart
                                                [datasets]="homePageResponse.allStocks[0].chart.lineChartData"
                                                [labels]="homePageResponse.allStocks[0].chart.lineChartLabels"
                                                [options]="homePageResponse.allStocks[0].chart.lineChartOptions"
                                                [colors]="homePageResponse.allStocks[0].chart.lineChartColors"
                                                [legend]="homePageResponse.allStocks[0].chart.lineChartLegend"
                                                [chartType]="homePageResponse.allStocks[0].chart.lineChartType"
                                                [plugins]="homePageResponse.allStocks[0].chart.lineChartPlugins">
                                            </canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Pie Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">Stock Details</h6>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                            aria-labelledby="dropdownMenuLink">
                                            <div class="dropdown-header">Dropdown Header:</div>
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <div class="chart-pie pt-4 pb-2">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <div class="mt-4 text-center small">
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-primary"></i> Direct
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-success"></i> Social
                                        </span>
                                        <span class="mr-2">
                                            <i class="fas fa-circle text-info"></i> Referral
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-8 mb-4">

                            <!-- Top Gainers -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Top Gainers</h6>
                                </div>
                                <div class="row card-body">
                                    <div *ngFor="let stock of homePageResponse.topGainers" class="col-lg-3 mb-4">
                                        <div class="card bg-danger text-white shadow">
                                            <div class="card-body">
                                                {{stock.name}}
                                                <div class="text-white-50 small">&#8377; {{stock.instPrice}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Top Losers -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Top Losers</h6>
                                </div>
                                <div class="row card-body">
                                    <div *ngFor="let stock of homePageResponse.topLosers" class="col-lg-3 mb-4">
                                        <div class="card bg-primary text-white shadow">
                                            <div class="card-body">
                                                {{stock.name}}
                                                <div class="text-white-50 small">&#8377; {{stock.instPrice}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Stocks By MarketCap</h6>
                                </div>
                                <li *ngFor="let stock of homePageResponse.allStocks" class="list-group-item">
                                    <div class="card-body" [routerLink]="['/stocks',stock.id]">
                                        <div class="row">
                                            <div class="col-2">
                                                <div class="row">
                                                    <div class="col-12 ">
                                                        <h5 class="card-title">{{stock.name}}</h5>
                                                    </div>
                                                    <div class="col-12">
                                                        <p class="card-text news-content">&#8377;
                                                            {{stock.instPrice}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-7">
                                                <canvas baseChart height="40px" [datasets]="stock.chart.lineChartData"
                                                    [labels]="stock.chart.lineChartLabels"
                                                    [options]="stock.chart.lineChartOptions"
                                                    [colors]="stock.chart.lineChartColors"
                                                    [legend]="stock.chart.lineChartLegend"
                                                    [chartType]="stock.chart.lineChartType"
                                                    [plugins]="stock.chart.lineChartPlugins">
                                                </canvas>
                                            </div>
                                            <div class="col-2">
                                                <div class="col-12">{{stock.percChange}}%</div>
                                                <div class="col-12"></div>
                                            </div>
                                            <div class="col-1"></div>
                                        </div>

                                    </div>
                                </li>


                            </div>
                        </div>

                        <div class="col-lg-4 mb-4">

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">News</h6>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li *ngFor="let article of homePageResponse.news.slice(1,5)"
                                        class="list-group-item">
                                        <div class="card-body">
                                            <h5 class="card-title">{{article.title}}</h5>
                                            <p class="card-text news-content">{{article.content}}</p>
                                            <a href="#" class="btn btn-primary">Read Full Article</a>
                                        </div>
                                    </li>
                                </ul>


                            </div>

                            <!-- Approach -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Investment Tips</h6>
                                </div>
                                <div class="card-body">
                                    <p>SB Admin 2 makes extensive use of Bootstrap 4 utility classes in
                                        order to reduce
                                        CSS bloat and poor page performance. Custom CSS classes are used to
                                        create
                                        custom components and custom utility classes.</p>
                                    <p class="mb-0">Before working with this theme, you should become
                                        familiar with the
                                        Bootstrap framework, especially the utility classes.</p>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    </div></div></div>